.button {
    padding: 16px 32px;
    display: block;
    text-align: center;
    border-radius: 2px;
    background-color: var(--text-color);
    color: var(--white-color);
    text-decoration: none;
    font-family: 'Europa-Bold', sans-serif;
    font-size: 18px;
    line-height: 26px;
    width: fit-content;
}
.button:hover {
    background-color: var(--secondary-color);
    color: var(--text-color);
}
.button__dark {
    background-color: var(--text-color);
    color: var(--white-color);
}
.button__dark:hover {
    background-color: var(--secondary-color);
    color: var(--text-color);
}
.button__light {
    background-color: var(--white-color);
    color: var(--text-color);
}
.button__light:hover {
    background-color: var(--text-color);
    color: var(--white-color);
}
.button__centered {
    margin: 0 auto;
}